@model IEnumerable<PetCare.Models.Mascota>

@{
    ViewData["Title"] = "Mascotas registradas";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Mensaje"] is string msg)
{
    <div class="alert alert-success" role="alert">
        @msg
    </div>
}

<p>
    <a class="btn btn-primary" asp-controller="Mascotas" asp-action="Create">Registrar nueva mascota</a>
</p>

@if (!Model.Any())
{
    <p>No hay mascotas registradas aun</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>PetName</th>
                <th>Especie</th>
                <th>Raza</th>
                <th>Edad</th>
                <th>OwnerName</th>
                <th>OwnerTel</th>
                <th>DateIn</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var m in Model)
            {
                <tr>
                    <td>@m.PetName</td>
                    <td>@m.Especie</td>
                    <td>@m.Raza</td>
                    <td>@m.Edad</td>
                    <td>@m.OwnerName</td>
                    <td>@m.OwnerTel</td>
                    <td>@m.DateIn.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}